If:
    PathMatch: .*\.h
CompileFlags:
    Add:
    - "-I./kernel/type.h"
Diagnostics:
    Suppress: ['*']

---

Index:
    StandardLibrary: No
CompileFlags:
    Add: ["-DLAB_LOCK=1"]
    Remove: -W*
Diagnostics:
    UnusedIncludes: Strict
    MissingIncludes: None

